{% extends 'base.html' %}

{%block title%}
    <title>Friendlist</title>
{%endblock title%}

{% block content %}

    <h2>The request list:</h2>
    <body>                
                {%if friendlist %}
                    <p>Your friend:<p>
                    {% for friend in friendlist %}
                        <div>
                            <p>{{friend.username}}</p>
                        </div>
                        <!--putting chatting function-->
                    {%endfor%}
                {%else%}
                    <p>You may try friendMatching to find your desired friend</p>
                {%endif%}
                <button onclick="location.href='/friendSearch/frdSearch'" >Try friendMatching</button>
    </body>


<!--jquery-->

<!--script--> 


{% endblock content %}
