{% extends 'base.html' %}

{%block title%}
    Friendlist
{%endblock title%}

{% block content %}
<div class="container">
    <div class="btn-group" role="group">
        <a class="btn btn-secondary" href='/account/profile'>Go Back to Profile</a>
        <a class="btn btn-secondary" href='/friendSearch/request'>Check request</a>
        <a class="btn btn-secondary" href='/friendSearch/frdList'>Find your friend</a>
    </div>
    <h2>The friend list:</h2>
    <body>                
                {%if friendlist %}
                    <p>Your friend:<p>
                    {% for friend in friendlist %}
                        <div>
                            <p>{{friend.username}}</p>
                        </div>
                        <!--putting chatting function-->
                    {%endfor%}
                {%else%}
                    <p>You may try friendMatching to find your desired friend</p>
                {%endif%}
                <button class = "btn btn-secondary" onclick="location.href='/friendSearch/frdSearch'" >Try friendMatching</button>
    </body>
</div>

<!--jquery-->

<!--script--> 


{% endblock content %}
