{% extends 'friendSearch/base.html' %}
{%block title%}
    friendSearch
{% endblock%}

{% block content %}

<!-- template for friend_searching-->
    {% load static %}

     <!--show message-->
        {%if messages%}
            {%for message in messages%}
                {%if message.level == DEFAULT_MESSAGE_LEVELS.INFO %} <!--reference: the bootstrap-->
                    <div class="alert alert-success mb-0 alert-dismissible fade show" role="alert">{{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span> 
                    </div>
                {%else%}
                    <div class="alert alert-danger mb-0 alert-dismissible fade show" role="alert"><b>Error: </b>{{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </div>
                {%endif%}
          {%endfor%}
        {%endif%}
        <div class="search-container d-flex flex-row">
            <img src="{% static 'images/search-bg.jpg' %}" alt="{% static 'images/search-bg.jpg' %}" class="background-image d-none d-sm-block">
            <div class="search-form-container d-flex flex-column">
    
                <span class="form-title">Fill in the form and click "submit" button to find your friend!</span>
                <span class="form-description">You can pick more than one preferences, just seperated them with <b>", "</b>.</span>
                <!--the form for searching friend-->
                <form method="post"> <!--move to another interface-->
                    {% csrf_token %}
                    {% for field in SearchForm %}
                        <div>
                            {{field.label_tag}}
                            {{field}}
                        </div>
                        <br>
                    {% endfor %}
                    <input class="btn btn-secondary" type ="submit" value="search">
                </form>
            </div>
    
        </div>

{% endblock content %}
