{% extends 'base.html' %}

{%block title%}
    Requestlist
{%endblock title%}

{% block content %}
    {%if messages%}
        {%for message in messages%}
            {%if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <p>Succ:{{message}}</p>
            {%else%}
                <p>Error:{{message}}</p>
            {%endif%}
        {%endfor%}
    {%endif%}
    
    <body>                
        <div class="container">
            <h2>The request list:</h2>
                {%if requestlist %}
                    {% for item in requestlist %}
                        <div>
                            <p>{{item.username}}</p>
                        </div>
                    {%endfor%}
                    <p>Type valid friend from the list above, seperate with " ,"</p>
                    <form method='post'>
                        {% csrf_token %}
                        {% for field in approvelist %}
                            <div>{{field}}</div>
                        {% endfor %}
                        <input type="Submit" value="Type the username to accept it" id="input">
                        <p id='requesterror'></p>
                    </form>
                {%else%}
                    <p>There is no requests yet, waiting for others' request</p>
                {%endif%}
                <button onclick="location.href='/friendSearch/frdSearch'" type = button>Go back</button>
        </div>
    </body>


<!--jquery-->

<!--script--> 


{% endblock content %}