{% extends 'base.html' %}

{%block title%}
    Requestlist
{%endblock title%}

{% block content %}
    <!--external css file-->
    {%load static%}
        <link rel="stylesheet" href={%static "css/design.css"%}>

    
    <header> <!--reference: bootstrap-->
        <nav class="navbar navbar-expand-md navbar-secondary navbar-1 bg-secondary">            
            <a href = '/mainpage'>
            {%load static%}
                <img src={% static "/images/icon.png"%} style="width:50px;height:50px;">         
            </a>
            <button class = "navbar-toggler" type="button" data-toggle="collapse" data-target="#lists" aria-expanded="false" aria-controls="lists" aria-label="Toggle navigation">
                <span style="color: white">...</span>
            </button>
            <div class="collapse navbar-collapse ml-auto" id="lists">            
                <a class="nav-item nav-link" href='/account/profile'>Profile</a>
                <a class="nav-item nav-link" href='/friendSearch/request'>Request</a>
                <a class="nav-item nav-link" href='/friendSearch/frdSearch'>Find Friend</a>
                <a class="nav-item nav-link" href='/chat'>Chat</a>
            </div>
        </nav>
    </header>
    <body>      
            {%if messages%}
                {%for message in messages%}
                    {%if message.level == DEFAULT_MESSAGE_LEVELS.INFO %} <!--reference: the bootstrap-->
                        <div class="alert alert-success mb-0 alert-dismissible fade show" role="alert">{{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span> 
                        </div>
                    {%else%}
                        <div class="alert alert-danger mb-0 alert-dismissible fade show" role="alert"><b>Error: </b>{{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </div>
                    {%endif%}
                {%endfor%}
            {%endif%}

            <h2>The request list:</h2>
                {%if requestlist %}
                    {% for item in requestlist %}
                        <div>
                            <p>{{item.username}}</p>
                        </div>
                    {%endfor%}
                    <p>Type valid friend from the list above, seperate with <b>", "</b></p>
                    <form method='post'>
                        {% csrf_token %}
                        {% for field in approvelist %}
                            <div>{{field}}</div>
                        {% endfor %}
                        <input type="Submit" value="Type the username to accept it" id="input">
                    </form>
                {%else%}
                    <p>There is no requests yet, you may wait other user or make a new search</p>
                {%endif%}
        </div>
    </body>

{% endblock content %}