html{
    --darkpink: #FD297B;
    --middlepink: #FF5864;
    --lightpink: #FF655B;
    --verylightpink: #FAA1AF;
    --palepink: #FACDD6;
    --verypalepink: #FAE7EC;
    --middlegrey: #424242;
    font-size: 16px;
}

body{
    overflow-x: hidden;
}

.chat-header{
    position: absolute;
    background-color: var(--lightpink);
    height: 59px;
    width: 100%;
    top: 0;
    padding: 10px 16px;
    font-size: 3vh;
}

.chat-header .profile-image{
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 50%;
}

.chat-header-text{
    margin-left: 10px;
    margin-top:-3px;
}

.chat-header-text span{
    color: white;
}

.chat-header .to-username{
    height: fit-content;
    font-size: 16px;
}

.chat-header .online-status{
    height: fit-content;
    font-size: 13px;
}

.chat-log{
    background-color: var(--verypalepink);
    position: absolute;
    top: 59px;
    bottom: 62px;
    width: 100%;
    height: calc(100vh - 121px);
    padding-bottom: 1.25vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-log .chat-message{
    max-width: 70%;
    font-size: 16px;
    border-style: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    word-wrap: break-word;
}

.chat-log .chat-message.left{
    border-radius: 10px 10px 10px 2px;
    float: left;
    margin-left: 10px;
    background-color: var(--palepink);
}

.chat-log .chat-message.right{
    float: right;
    margin-left:auto;
    margin-right: 10px;
    border-radius: 10px 10px 2px 10px;
    justify-content: flex-end;
    background-color: var(--verylightpink);
}

.chat-log .chat-message span{
    font-size: 10px;
    color: grey;
}

.chat-log .chat-message.left span{
    float: left;
}

.chat-log .chat-message.right span{
    float: right;
}

.chat-footer{
    position:absolute;
    background-color: var(--lightpink);
    min-height: 62px;
    width: 100%;
    bottom:0;
    padding: 5px 10px;
}

.chat-footer > div.h-100.px-3{
    padding: 10px;
}

.chat-footer a{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    float: left;
}


#chat-input{
    border-style: none;
    outline: none;
    height: 30px;
    padding: 0 15px;
    margin-left: 20px;
    float: left;
    width: 80%;
    border-radius: 20px;
    background-color: white;
}

#chat-submit-btn{
    border-style: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    float: left;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 30px;
    height: 30px;
}
#chat-submit-btn:focus{
    outline: none;
}





