{% extends './base.html' %}

{% block title %}
{% if room_name %}
<title>Chatroom - {{room_name}}</title>
{% else %}
<title>Unknown Chatroom</title>
{% endif %}
{% endblock title %}

{% block content %}

{% if room_name %}
{% load static %}
<script defer src="{% static 'chat/chat_api.js' %}"></script>
<h1>{{room_name}}</h1>
<div class="chat-log">
</div><br>
{% csrf_token %}
<input type="text" name="chat-input" id="chat-input" size="100"><input id="chat-submit-btn" type="button" value="Send"><br>
<input id="chat-receive-btn" type="button" value="Receive">

{% else %}

<h1>{{error}}</h1><br>
<a href='/chat'>Click here to go back to chat selection!</a>

{% endif %}
{% endblock content %}