{% extends './base.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'chat/chatroom_style.css' %}">
{% if room_name %}
<title>Chatroom - {{room_name}}</title>
{% else %}
<title>Unknown Chatroom</title>
{% endif %}
{% endblock title %}

{% block content %}

{% if room_name %}
{% csrf_token %}
<div class="chat-header d-flex flex-row">
    <!--Chat Header-->
    <img src="{{to_user.profile.image.url}}" alt="{{to_user.profile.image.url}}" class="profile-image">
    <div class="chat-header-text d-flex flex-column">
        <span class="to-username">{{to_user.username}}</span>
        <span class="online-status">Offline</span>
    </div>
    <input type="hidden" name="room-name" id="room-name" value="{{room_name}}">
</div>

<!--Chat log-->
<div class="chat-log">
    {% for message in message_list %}
        {% if message.sent_by == to_user.username %}
        <div class="row mx-1">
            <div id="msg-{{message.message_id}}" class="shadow-sm col-auto chat-message left">
                {{message.message_string}}
                <br><span class="sent-time">{{message.sent_time}}</span>
            </div>
        </div>
        {% else %}
        <div class="row mx-1">
            <div id="msg-{{message.message_id}}" class="shadow-sm col-auto chat-message right">
                {{message.message_string}}
                <br><span class="sent-time">{{message.sent_time}}</span>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
    <!--Chat Footer-->
<div class="chat-footer container-flex">
    <div class="h-100 px-3">
        <a href="#" class="material-icons d-none d-sm-block">emoji_emotions</a>
        <input type="text" name="chat-input" id="chat-input" placeholder="Type a message">
        <button class="material-icons" id="chat-submit-btn" type="button" value="Send">
            send
        </button>
    </div>
</div>
<script defer src="{% static 'chat/chat_api.js' %}"></script>
{% else %}

<h1>{{error}}</h1><br>

{% endif %}
{% endblock content %}