{% extends './base.html' %}
{% load static %}

{% block title %} 
<link rel="stylesheet" href="{% static 'chat/home_style.css' %}">
<title>CUHKTinder - LiveChat</title> 

{% endblock title %}

{% block content %}
{% csrf_token %}
<!--Fixed button for opening side menu for small window size-->
<button class="fixed-slide-menu-btn shadow d-block d-sm-none"><span class="material-icons">contacts</span></button>

<!--Overlay Div for dimming background when opening the slide menu-->
<div class="overlay"></div>

<!--Chat Container-->
<div class="d-flex flex-row chat-container">
    <div class="friendListDiv d-flex flex-column mb-auto vh-100">
        <div class="friendlist-header d-flex flex-row">
            <img src="{{user.profile.image.url}}" alt="{{user.profile.image.url}}" class="profile-image" id="user-profile-image">
            <div class="dropdown">
                <button class="btn dropdown-toggle" id="dropdownBtn" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="material-icons">more_vert</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownBtn">
                    <li><a href="/account/profile/" class="dropdown-item">My Profile</a></li>
                    <li><a href="/friendSearch/frdSearch/" class="dropdown-item">Friend Search</a></li>
                    <li><a href="/" class="dropdown-item">Home Page</a></li>
                </ul>
            </div>
        </div>
        {% if friendCount > 0 %}
        <ul class="friendlist-container">
            {% for friend in friendList %}
            <li><a href="#!" id="{{friend.id}}" class="friendA d-flex flex-row">
                <img src="{{friend.profile.image.url}}" alt="{{frined.profile.image.url}}" class="profile-image">
                <div class="text-container d-flex flex-column">
                    <span class="friend-name">{{friend.username}}</span>
                    <span class="friend-last-message">Last message goes here and this is used to test</span>
                </div>
            </a></li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="no-friend-container">
            <span>You currently have no friend, click </span> 
            <a href="/friendSearch/frdSearch/">here to search for some new friends!</a>
        </div>
        {% endif %}
    </div>
    
    <div class="chatroomDiv vh-100">
        <p class="placeholder">Click on a friend's name to start chatting!</p>
        <iframe frameborder="0" class="chatroomFrame" style="display: none;"></iframe>
    </div>
</div>

<script defer src="{% static 'chat/home.js' %}"></script>
{% endblock content %}