{% extends 'base.html' %}

{% block content %}
<!-- template for friend_searching-->
    <h2>fill in the form and click "submit" button to find your friend!</h2>
    <p>If you don't have any perference on hobbies and personality, just type <b>"any"</b>.</p>
    <body>
        <!--the form for searching friend-->
        <form method="post" > <!--move to another interface-->
            {% csrf_token %}
            {% for field in SearchForm %}
                <div>
                    {{field.label_tag}}
                    {{field}}
                </div>
                <br>
            {% endfor %}
            <input type ="submit" value="search">
        </form>
    </body>

{% endblock content %}

<!---
            <div>
                <label for="gender">Gender:</label>
                <select id="gender">
                    <option value = "M">Male</option>
                    <option value = "F">Female</option>
                    <option value = "any">Any</option>
                </select>
                <br>
            </div>
            <div>
                <label for="college">College:</label>
                <select id="college">
                    <option value = "Chung Chi College">Chung Chi College</option>
                    <option value = "New Asia College">New Asia College</option>
                    <option value = "United College">United College</option>
                    <option value = "Shaw College">Shaw College</option>
                    <option value = "MorningSide College">MorningSide College</option>
                    <option value = "S.H.Ho College">S.H.Ho College</option>
                    <option value = "Wu Yee Sun College">Wu Yee Sun College</option>
                    <option value = "CW Chu College">CW Chu College</option>
                    <option value ="Lee Woo Sing College">Lee Woo Sing College</option>
                    <option value = "any College">any College</option>
                </select>
            </div> <br>
            <div>
                <label for="study">Study Field:</label>
                <select id="study">
                    <option value = "Sci">Science</option>
                    <option value = "Engg">Engineering</option>
                    <option value = "Medi">Medicine</option>
                    <option value = "Laws">Laws</option>
                    <option value = "SSci">Social Science</option>
                    <option value = "Arts">Arts</option>
                    <option value = "BBA">Business</option>
                </select>

                <br><br>
            </div>
            <div>
                <label for="hobbies">Hobbies:</label>
                <input type="text" id=hobbies name="hobbies"> <br><br>
            </div>
            <div>
                <label for="personality">Behavior:</label>
                <input type="text" id="personality" name="personality"><br><br>
            </div>

->