<!DOCTYPE html>
<!--TBD-->

<html>
    <head>
        <title>Friend Matching</title>
    </head>

    <h2>fill in the form and click "submit" button to find your friend!</h2>
    <body>
        <!--the form for searching friend-->
        <form action="search_friend"> <!--move to another interface-->
            <div>            
                <label for="college">College:</label>
                <input type="text" id="college" name="college"><br> <br>
            </div>
            <div>
                <label for="study">Study Field:</label>
                <input type="text" id=study_field name="study_field"> <br><br>
            </div>
            <div>
                <label for="hobbies">Hobbies:</label>
                <input type="hobbies" id=hobbies name="hobbies"> <br><br>
            </div>
            <div>
                <label for="gender">Gender:</label>
                <input type="text" id="gender" name="gender"><br><br>
            </div>
            <div>
                <label for="behavior">Behavior:</label>
                <input type="behavior" id="behavior" name="behavior"><br><br>
            </div>
            <input type ="submit" value = "Submit">
        </form>
    </body>
</html>