{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}


{% block content %}

<div class="container d-flex flex-column">

    <span class="text-center title">Login</span>
    <!-- login form -->
    <form method="post">
        {% csrf_token %}
    
        <!-- fields in login form -->
        {% for field in login_form %}
            <div class="form-group">
                {{field.label_tag}}
                {{field}}
                <!-- help text -->
                {% if field.help_text %}
                    <div class="help-text" style="color: grey;">{{field.help_text}}</div>
                {% endif %}
            </div>
        {% endfor %}
    
        {% for field in login_form %}
            <!-- error prompts -->
            {% for error in field.errors %}
            <div style="color: red;">{{error}}</div>
            {% endfor %}
        {% endfor %}
    
        <!-- error prompts -->
        {% if login_form.non_field_errors %}
        <div style="color: red;">{{login_form.non_field_errors}}</div>
        {% endif %}
    
        <input type="hidden" name="next" value="{{request.GET.next}}">
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</div>

{% endblock content %}

{% block style %}
    .help-text {
        font-size: 15px;
    }
    .container {
        box-shadow: 0 4px 8px 0 rgba(253, 41, 123, 0.2), 0 6px 20px 0 rgba(253, 41, 123, 0.19);
        margin-top: 5vh;
        padding: 10px 25px 25px 25px;
        width: 80vw;
        min-width: 300px;
        height: fit-content;
        border-radius: 30px;
        border-style: none;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
    }
    .title {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: bold;
        color: black;
    }
{% endblock style %}