{% extends 'base.html' %}

{% block title %}
Profile
{% endblock title %}

{% block content %}

<div class="container">
    {% if user.is_authenticated %}
        <div class="profile d-flex flex-column">
            <span class="text-center title">Profile</span>

            <img class="profile-image" src="{{user.profile.image.url}}">
            {% if not user.profile.first_name or not user.profile.last_name or not user.profile.gender or not user.profile.date_of_birth or not user.profile.job_title or not user.profile.passions %}
            <p>The profile is not fully set up yet. Please update your profile.</p>
            {% else %}
            <p>Name: {{user.profile.first_name}} {{user.profile.last_name}}</p>
            <p>Gender: {{user.profile.gender}}</p>
            <p>Date Of Birth: {{user.profile.date_of_birth}}</p>
            <p>Job Title: {{user.profile.job_title}}</p>
            <p>Passions: {{user.profile.passions}}</p>
            {% endif %}
        </div>
    {% else %}
        <div class="greeting-message">
            Hi, anonymous. Please register an account first!
        </div>
    {% endif %}
</div>

{% endblock content %}

{% block style %}
    .header {
        font-size: 25px;
    }
    .greeting-message {
        margin-bottom: 15px;
    }
    .profile > p {
        margin-top: 15px;
    }
    .profile {
        box-shadow: 0 4px 8px 0 rgba(253, 41, 123, 0.2), 0 6px 20px 0 rgba(253, 41, 123, 0.19);
        margin-top: 15px;
        padding: 10px 25px 25px 25px;
        width: 50vw;
        min-width: 300px;
        max-width: 997px;
        height: fit-content;
        border-radius: 30px;
        border-style: none;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
    }
    .title {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: bold;
        color: black;
    }
{% endblock style %}

{% block script %}
    $(document).ready(function() {
        $(".profile-image").each(function() {
            var targetWidth = 100;
            var width = $(this).width();
            var height = $(this).height();
            var ratio = targetWidth / width;
            $(this).css("width", targetWidth);
            $(this).css("height", height * ratio);
        });
    });
{% endblock script %}